<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link id="theme-link" rel="stylesheet" href="light-theme.css">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">


    <title>Bienvenue sur Sortir.com !</title>

</head>
<body>
<!-- Rounded switch -->
<label class="toggle_theme_button">
    <input type="checkbox">
    <span class="slider round"></span>
</label>


{% block logo %}
    <div class="logoblock">
        <div class="logoanimation">
            <a href={{ path('welcome') }}>
                <div class="logo"> Sortir.com</div>
            </a>
        </div>
    </div>
{% endblock %}


<!-- Menu -->

{% block menu %}
    {% if app.user %}
        <div class="menublock">

            <a class="menubutton" href="{{ path('user_account_show') }}">Mon compte</a>
            <a class="menubutton" href="{{ path("create_event") }}">Créer un évènement</a>
            <a class="menubutton" href="{{ path("app_logout") }}">Déconnexion</a>

        </div>
    {% endif %}
{% endblock %}


<!-- Main part of the page that will be edited  -->
{% block welcome %}
<div class="mainblock">
    {% block main %}
    {% endblock %}
</div>
{% endblock %}

<!-- Footer part  -->
{% block footer %}
    <div class="footerblock">
        <div class="authors">Made by Samy, Laetitia, Raphael & Kevin</div>
        <div class="copyrights"> &copy {{ "now"|date("Y") }}</div>
    </div>
{% endblock %}

{#Inclusion de Google Maps JS API#}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAgHMYyQyz3bRKsvHc8W-o-B12ctxR6EdA"></script>
{#Script pour l'autocomplétion#}
<script>
    /*Recherche lieu*/
    function initializeAutocomplete(id) {
        var element = document.getElementById(id);
        console.log(element);
        if (element) {
            var autocomplete = new google.maps.places.Autocomplete(element, {
                types: ['establishment', 'geocode']
            });
            google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
        }
    }
    /*Récupération des données*/
    function onPlaceChanged() {
        var place = this.getPlace();
        document.getElementById("place_name").value = place.name;
        document.getElementById("latitude").value = place.geometry.location.lat();
        document.getElementById("longitude").value = place.geometry.location.lng();
        for (var i in place.address_components) {
            var component = place.address_components[i];
            for (var j in component.types) {
                var type_element = document.getElementById(component.types[j]);
                if (type_element) {
                    type_element.value = component.long_name;
                }
            }
        }

    }
    /*Exécution du code*/
    google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('user_input_autocomplete_address');
    })
</script>




{#Creating a dark-mode#}
<script>
// Select the button
const btn = document.querySelector(".toggle_theme_button");
// Select the stylesheet <link>
const theme = document.querySelector("#theme-link");
// Read the storage from the user navigator (F12 -> Application -> localstorage to see the value)
if (localStorage.getItem("userTheme")) {
    theme.href = localStorage.getItem("userTheme");
}
// Listen for a click on the button
btn.addEventListener("click", function() {
// If the current URL contains "ligh-theme.css"
if (theme.getAttribute("href") === "light-theme.css") {
// ... then switch it to "dark-theme.css"
theme.href = "dark-theme.css";
// Otherwise...
} else {
// ... switch it to "light-theme.css"
theme.href = "light-theme.css";
}

// Creating a variable that is set with the user theme choice
let userTheme = theme.href;

// Sending the user choice to the navigator localstorage
localStorage.setItem("userTheme", userTheme);
});

</script>
</body>
</html>