{% extends "layout.html.twig" %}

{% block main %}

    <h1>Mes informations</h1>

<div class="credentials">

    <div class="formlabel">Pseudo :</div>
    {{ app.user.pseudo }}

    <div class="formlabel">Nom de famille :</div>
    {{ app.user.lastName | upper }}

    <div class="formlabel">Prénom :</div>
    {{ app.user.firstName  | capitalize }}

    <div class="formlabel">Numéro de téléphone :</div>
    {{ app.user.phoneNumber }}

    <div class="formlabel">Email :</div>
    {{ app.user.email }}

    <div class="formlabel">Mot de passe :</div>
    ***************


    <a class="profilbutton" href="{{ path('user_account_edit') }}">Modifier</a>
</div>





{% endblock %}