{% extends "layout.html.twig" %}

{% block main %}

    <h1>Mes informations</h1>

    {% if app.user.imageFileName %}
        <div><img class="cropImage" src="{{ asset('uploads/profil_images/' ~ app.user.imageFileName) }}"></div>
    {% else %}
        <div><img class="cropImage" src="{{ asset('img/user.png') }}"></div>

    {% endif %}

    <div class="credentials">

    <div class="formlabel">Pseudo :</div>
    {{ app.user.pseudo }}

    <div class="formlabel">Nom de famille :</div>
    {{ app.user.lastName | upper }}

    <div class="formlabel">Prénom :</div>
    {{ app.user.firstName  | capitalize }}

    <div class="formlabel">Numéro de téléphone :</div>
    {{ app.user.phoneNumber }}

    <div class="formlabel">Email :</div>
    {{ app.user.email }}

    <div class="formlabel">Mot de passe :</div>
    ***************

    <a class="sortir_buttons" href="{{ path('user_account_edit') }}">Modifier</a>
</div>


{% endblock %}