{% extends "layout.html.twig" %}

{% block main %}

    <div class="infotitle">Modifier mon profil</div>

    <div class="credentials">

    {{ form_start(editForm) }}

        <div class="formlabel">{{ form_label(editForm.pseudo) }}</div>
        <div>{{  form_widget(editForm.pseudo) }}</div>
        <div>{{ form_errors(editForm.pseudo) }}</div>

        <div class="formlabel">{{ form_label(editForm.lastName) }}</div>
        {{  form_widget(editForm.lastName) }}
        <div>{{ form_errors(editForm.lastName) }}</div>

        <div class="formlabel">{{ form_label(editForm.firstName) }}</div>
        {{  form_widget(editForm.firstName) }}
        <div>{{ form_errors(editForm.firstName) }}</div>

        <div class="formlabel">{{ form_label(editForm.phoneNumber) }}</div>
        {{  form_widget(editForm.phoneNumber) }}
        <div>{{ form_errors(editForm.phoneNumber) }}</div>

        <div class="formlabel">{{ form_label(editForm.email) }}</div>
        {{  form_widget(editForm.email) }}
        <div>{{ form_errors(editForm.email) }}</div>

    </div>
    <button type="submit">Enregister les modifications</button>
    {{ form_end(editForm) }}


    <div  class="infotitle">Modifier mon mot de passe</div>
    <div class="edit_buttondiv">
    <a class="editbutton" href={{ path('user_account_show') }}>Revenir au profil</a>
    <a class="editbutton" href="{{ path('user_password_edit') }}">Modifier le mot de passe</a>

    </div>
{% endblock %}