{% extends 'layout.html.twig' %}

{% block main %}

    {{ form_start(editPasswordForm) }}

    <div>
        <div class="formlabel">{{ form_label(editPasswordForm.oldPassword, 'Mot de passe actuel') }}</div>
        {{ form_widget(editPasswordForm.oldPassword) }}
        {{ form_errors(editPasswordForm.oldPassword) }}
    </div>

    <div>
        <div class="formlabel">{{ form_label(editPasswordForm.plainPassword.first, 'Nouveau mot de passe') }}</div>
        {{ form_widget(editPasswordForm.plainPassword.first) }}
        {{ form_errors(editPasswordForm.plainPassword.first) }}
    </div>

    <div>
        <div class="formlabel">{{ form_label(editPasswordForm.plainPassword.second, 'Confirmation du nouveau mot de passe') }}</div>
        {{ form_widget(editPasswordForm.plainPassword.second) }}
        {{ form_errors(editPasswordForm.plainPassword.second) }}
    </div>

    <button class="editbutton" type="submit">Modifier le mot de passe !</button>

    {{ form_end(editPasswordForm) }}

    <a class="editbutton" href={{ path('user_account_edit') }}>
        <button class="editbutton" type="submit">Retour</button>
    </a>

{% endblock %}