{%  extends "layout.html.twig" %}


{%  block main %}
{{ form_start(userForm) }}
    <div class="formlabel">
        Pseudo
    </div>
    {{  form_widget(userForm.userName) }}


     <div class="formlabel">
        Prénom
    </div>
    {{  form_widget(userForm.firstName) }}


    <div class="formlabel">
        Nom
    </div>
    {{  form_widget(userForm.lastName) }}


    <div class="formlabel">
        Téléphone
    </div>
    {{  form_widget(userForm.phoneNumber) }}


    <div class="formlabel">
        Email
    </div>
    {{  form_widget(userForm.email) }}


    <div class="formlabel">
        Mot de passe
    </div>
    {{  form_widget(userForm.password) }}


    <div class="formlabel">
        Confirmation du mot de passe
    </div>
    {{  form_widget(userForm.passwordConfirmation) }}


    <div class="profilbuttons">
        {{  form_widget(userForm.save) }}

        {{  form_widget(userForm.cancel) }}
    </div>
{{ form_end(userForm) }}




{%  endblock  %}