{% extends "layout.html.twig" %}

{% block main %}
    <div class="eventform">
        <!-- Left Side -->
        <div class="eventside">
            <div class="formlabel">
                Nom de la sortie : <div class="eventfield">{{ form_widget(eventForm.name) }}</div>
            </div>

            <div class="formlabel">
                Date et heure de la sortie : <div class="eventfield">{{ form_widget(eventForm.eventDate) }}</div>
            </div>

            <div class="formlabel">
                Date limite d'inscription : <div class="eventfield">{{ form_widget(eventForm.subscriptionLimitDate) }}</div>
            </div>

            <div class="formlabel">
                Nombre de places : <div class="eventfield">{{ form_widget(eventForm.maxParticipants) }}</div>

            </div>

            <div class="formlabel">
                Durée : <div class="eventfield">{{ form_widget(eventForm.duration) }}</div>

            </div>

            <div class="formlabel">
                Description et infos : <div class="formdescription">{{ form_widget(eventForm.description) }}</div>

            </div>
        </div>

        <!-- Right Side -->
        <div class="eventside">
            <div class="formlabel">
                Campus :
            </div>

            <div class="formlabel">
                Ville : {{ form_widget(eventForm.city) }}

            </div>

            <div class="formlabel">
                Lieu : {{ form_widget(eventForm.place) }}

            </div>

            <div class="formlabel">
                Rue :
            </div>

            <div class="formlabel">
                Code Postal :
            </div>

            <div class="formlabel">
                Latitude :
            </div>

            <div class="formlabel">
                Longitude :
            </div>
        </div>
    </div>
    {#Div des boutons#}
    <div>
        {{ form_widget(eventForm.save) }}
        {{ form_widget(eventForm.publish) }}
        {{ form_widget(eventForm.cancel) }}
    </div>
{% endblock %}





