{% extends "layout.html.twig" %}

{% block main %}


    <form action="{{ path('create_events2') }}" method="post">
        <div class="eventform">


            <!-- Left Side -->
            <div class="eventside">

                <div class="formlabel">
                    Nom de la sortie :
                    <input id="event_name" name="event_name" class="forminput" placeholder="Entrez le nom de la sortie"
                           type="text"/>
                </div>

                <div class="formlabel">
                    Date et heure de la sortie :
                    <input id="event_time" name="event_time" class="forminput" placeholder="Entrez la date de la sortie"
                           type="datetime-local" value="{{ "now"|date("Y-m-d") }}T{{"now"|date("H:i")  }}"/>
                </div>


                <div class="formlabel">
                    Date limite d'inscription :
                    <input id="event_limit" name="event_limit" class="forminput"
                           placeholder="Entrez la date limite d'inscription" type="date" value="{{ "now"|date("Y-m-d" ) }}"/>
                </div>


                <div class="formlabel">
                    Nombre de places :
                    <input id="event_max_user" name="event_max_user" class="forminput"
                           placeholder="Nombre maximum de participants" type="number" step="1"/>
                </div>

                <div class="formlabel">
                    Durée :
                    <input id="event_duration" name="event_duration" class="forminput" placeholder="Entrez la durée"
                           type="time" value="01:00"/>
                </div>

                <div class="formlabel">
                    Description et infos :
                    <input id="event_description" name="event_description" class="eventdescription"
                           placeholder="Entrez la description de l'évènement" type="text"/>


                </div>
            </div>

            <!-- Right Side -->
            <div class="eventside">
                <div class="formlabel">
                    Campus :
                    <div class="formcampus">{{ app.user.campus.getName }}</div>
                </div>

                <div class="formlabel">
                    Lieu : <input id="user_input_autocomplete_address"
                                  placeholder="Commencez à chercher un lieu pour votre sortie..." type="text"
                                  class="forminput">
                </div>

                <div class="formlabel">
                    N° : <input id="street_number" name="street_number" class="forminput" type="number">
                </div>

                <div class="formlabel">
                    Rue : <input id="route" name="route" class="forminput" type="text">
                </div>

                <div class="formlabel">
                    Code Postal : <input id="postal_code" name="postal_code" class="forminput" type="number">
                </div>

                <div class="formlabel">
                    Ville : <input id="locality" name="locality" class="forminput" type="text">
                </div>

                <div class="formlabel">
                    Pays : <input id="country" name="country" class="forminput" type="text">
                </div>

                {# <div class="formlabel">
                Latitude : <input id="lat" name="lat" class="forminput">
            </div>

            <div class="formlabel">
                Longitude : <input id="lng" name="lng" class="forminput">
            </div> #}
            </div>


        </div>
        {# Div des boutons #}
        <div>
           <button type="submit" name="valider">Valider</button>




        </div>
    </form>

{% endblock %}
