{% extends "layout.html.twig" %}

{% block main %}


    <div class="eventform">



        <!-- Left Side -->
        <div class="eventside">
            <div class="formlabel">
                Nom de la sortie : <div class="eventfield">{{ form_widget(eventForm.name) }}</div>
            </div>

            <div class="formlabel">
                Date et heure de la sortie : <div class="eventfield">{{ form_widget(eventForm.eventDate) }}</div>
            </div>

            <div class="formlabel">
                Date limite d'inscription : <div class="eventfield">{{ form_widget(eventForm.subscriptionLimitDate) }}</div>
            </div>

            <div class="formlabel">
                Nombre de places : <div class="eventfield">{{ form_widget(eventForm.maxParticipants) }}</div>

            </div>

            <div class="formlabel">
                Durée : <div class="eventfield">{{ form_widget(eventForm.duration) }}</div>

            </div>

            <div class="formlabel">
                Description et infos : <div class="formdescription">{{ form_widget(eventForm.description) }}</div>

            </div>
        </div>

        <!-- Right Side -->
        <div class="eventside">
            <div class="formlabel">
                Campus :
            </div>

            <div class="formlabel">
                Ville : {{ form_widget(eventForm.city) }}
            </div>

            <div class="formlabel">
                Lieu : {#{{ form_widget(eventForm.place) }}#}
            </div>

            <div class="formlabel">
                Rue :
            </div>

            <div class="formlabel">
                Code Postal :
            </div>

            <div class="formlabel">
                Latitude :
            </div>

            <div class="formlabel">
                Longitude :
            </div>
        </div>
    </div>







    {#Div des boutons#}
    <div>
        {{ form_widget(eventForm.save) }}
        {{ form_widget(eventForm.publish) }}
        {{ form_widget(eventForm.cancel) }}
    </div>
{% endblock %}

<!-- https://www.lewagon.com/fr/blog/tuto-google-place-autocomplete -->
<!-- https://console.developers.google.com/apis/credentials/key/e6c797ec-2be2-43a1-9d4b-23239d5b3db5?folder=&organizationId=&project=sortirenip2 -->

<!-- Include Google Maps JS API -->
<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBEicCKpiiI6h6U1H9J_AiEriBcXYMI4k4"></script>

<!-- Custom JS code to bind to Autocomplete API -->
<!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
<!-- We'll detail this file in the article -->
<script type="text/javascript" src="autocomplete.js"></script><!-- Include Google Maps JS API -->
<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBEicCKpiiI6h6U1H9J_AiEriBcXYMI4k4"></script>

<!-- Custom JS code to bind to Autocomplete API -->
<!-- find it here: https://github.com/lewagon/google-place-autocomplete/blob/gh-pages/autocomplete.js -->
<!-- We'll detail this file in the article -->
<script type="text/javascript" src="autocomplete.js"></script>





