{% extends "layout.html.twig" %}

{% block main %}


    <div class="eventform">



        <!-- Left Side -->
        <div class="eventside">
            <div class="formlabel">
                Nom de la sortie : <div class="eventfield">{{ form_widget(eventForm.name) }}</div>
            </div>

            <div class="formlabel">
                Date et heure de la sortie : <div class="eventfield">{{ form_widget(eventForm.eventDate) }}</div>
            </div>

            <div class="formlabel">
                Date limite d'inscription : <div class="eventfield">{{ form_widget(eventForm.subscriptionLimitDate) }}</div>
            </div>

            <div class="formlabel">
                Nombre de places : <div class="eventfield">{{ form_widget(eventForm.maxParticipants) }}</div>

            </div>

            <div class="formlabel">
                Durée : <div class="eventfield">{{ form_widget(eventForm.duration) }}</div>

            </div>

            <div class="formlabel">
                Description et infos : <div class="formdescription">{{ form_widget(eventForm.description) }}</div>

            </div>
        </div>

        <!-- Right Side -->
        <div class="eventside">
            <div class="formlabel">
                Campus : <div class="formcampus">{{ app.user.campus.getName }}</div>
            </div>

            <div class="formlabel">
                Lieu : <input id="user_input_autocomplete_address" placeholder="Commencez à chercher un lieu pour votre sortie..." type="text">
            </div>

            <div class="formlabel">
                N° : <input id="street_number" name="street_number">
            </div>

            <div class="formlabel">
                Rue : <input id="route" name="route">
            </div>

            <div class="formlabel">
                Code Postal : <input id="postal_code" name="postal_code">
            </div>

            <div class="formlabel">
                Ville : <input id="locality" name="locality">
            </div>

            <div class="formlabel">
                Pays : <input id="country" name="country">
            </div>

            <div class="formlabel">
                Latitude : <input id="latitude" name="latitude">
            </div>

            <div class="formlabel">
                Longitude : <input id="longitude" name="longitude">
            </div>
        </div>
    </div>







    {#Div des boutons#}
    <div>
        {{ form_widget(eventForm.save) }}
        {{ form_widget(eventForm.publish) }}
        {{ form_widget(eventForm.cancel) }}
    </div>
{% endblock %}
