{% extends "layout.html.twig" %}


{% block main %}

    <!--------------------------------------------------- Filter form -------------------------------------------->

    <form class="filterform" action="{{ path('get_event') }}" method="get">
        <div class="formpart1">

            <!-- This part allow the user to select the campus -->
            <select name="campus" id="selectcampus">
                <option value="">Campus</option>
                {% for campus in allCampus %}
                    <option value="{{ campus.id }}">{{ campus.name }}</option>
                {% endfor %}
            </select>

            <!-- This part allow the user to select events on keywords -->
            <input type="text" class="forminput" name="keyword" placeholder="Recherchez par mot-clef">


            <!-- This part allow the user to select events on date -->
            <input class="dateinput" type="date" name="startdate" value="">
            <input class="dateinput" type="date" name="enddate" value="">
        </div>

        <!-- Checkbox filters part -->

        <div class="formcheckbox">
            <div class="checkboxdiv">
                <label for="usercheckbox">Evènements que j'organise</label>
                <input type="checkbox" id="usercheckbox" name="usercheckbox">
            </div>


            <div class="checkboxdiv">
                <label for="registeredevent">Evènements auxquels je participe</label>
                <input type="checkbox" id="registeredevent" name="registeredevent">
            </div>

            <div class="checkboxdiv">
                <label for="passed">Sorties passées</label>
                <input type="checkbox" id="passed" name="passed">
            </div>

            <div class="checkboxdiv">
                <label for="nonregisteredevent">Evènements auxquels je participe pas</label>
                <input type="checkbox" id="nonregisteredevent" name="nonregisteredevent">
            </div>


        </div>

        <input type="submit" value="Envoyer">
    </form>

    <!------------------------------------------------------- Cards ----------------------------------------------------->



    <div class="card-container">

        <!-- Here we call every event in the database -->
        {% for event in allEvents %}
            <!-- 1: we filter them, the "in creation" event, yet not published, are only displayed for the author -->
            <!-- 2: then after the  'or' we also include the event that are "opened"                              -->
            {% if event.currentPlace == "in_creation" and event.author.id == app.user.id or event.currentPlace =="opened" %}


                <div class="card">
                    <!-- Card's Picture -->
                    <div class="card-image">
                        <img  class="authorimg" src="{{ asset('uploads/profil_images/' ~ event.author.imageFileName)}}" alt="authorimg">
                    </div>
                    <!-- End of the Picture -->


                    <!-- Card's Body -->
                    <div class="card-body">

                        <!-- Event's Name -->
                        <div class="card-title">
                            <h3>{{ event.name }}</h3>
                        </div>

                        <!-- Event's Description -->
                        <div class="card-excerpt">
                            <p>{{ event.description }}</p>
                            <p></p>
                        </div>
                        <!-- Author & Event's Date -->
                        <div class="card-date">
                            Organisée par : {{ event.author.firstName }} {{ event.author.lastName }} <br>

                            Le {{ event.eventDate|date('d-m-Y') }}
                            A {{ event.eventDate|date('H') }} H {{ event.eventDate|date('i') }}
                        </div>



                        <!-- Registration Limit Date -->
                        <div class="card-limit-date">
                            Date limite d'inscription : {{ event.subscriptionLimitDate|date('d-m-Y') }}
                        </div>

                        <!-- Registered Participants / Max Participants -->
                        <div class="card-participants">
                            Nombre de participants : {{ event.registeredParticipants.count }}
                            / {{ event.maxParticipants }}
                        </div>

                        <!-- Possible actions for this event -->
                        <div class="card-actions">
                            <a href="{{ path('details_event', {'id': event.id }) }}"
                               class="style_bouton">Détails</a>
                            {# Conditionnal display of "S'inscrire" ou "Se désister" #}
                            {% if event.registeredParticipants.contains(app.user) %}

                                {# If the user is already registered for this event display "Se désister" #}
                                {% if event.subscriptionLimitDate|date('d-m-Y') > "now"|date('d-m-Y') %}
                                    <a href="{{ path('desist_event', {'id' : event.id} ) }}"
                                       class="style_bouton">Se désister</a>
                                {% endif %}

                            {% else %}

                                {# If he's not registered and the subscription limite date is not passed yet , display "S'inscrire" #}
                                {% if event.subscriptionLimitDate|date('d-m-Y') > "now"|date('d-m-Y') %}
                                    <a href="{{ path('participate_event', {'id' : event.id} ) }}"                                       class="style_bouton">S'inscrire</a>
                                {% endif %}
                            {% endif %}

                            {# If the actual date is before the event's date AND the actual user is the event's author #}
                            {% if ("now" < event.eventDate) and (event.author.id == app.user.id) %}
                                {# Display "Modifier" & "Annuler" buttons #}
                                <a href="#" class="style_bouton">Modifier</a>

                                <a href="{{ path('cancel_event', {'id': event.id }) }}" class="style_bouton">Annuler</a>

                                {# If the event is not yet published, the card display he button to publish #}
                                {% if event.currentPlace == "in_creation" %}
                                    <a href="{{ path('open_event',{'id': event.id }) }}"
                                       class="style_bouton">Publier</a>
                                {% endif %}

                            {% else %}
                            {% endif %}
                        </div>

                    </div>
                    <!-- End of the card's body -->
                </div>

            {% endif %}
        {% endfor %}


        <!------------------------------------------ PAST EVENTS ------------------------------------------------------>


        <!-- Here we call every event in the database -->
        {% for event in allEvents %}
            <!-- 1: we filter them, the "in creation" event, yet not published, are only displayed for the author -->
            <!-- 2: then after the  'or' we also include the event that are "opened"                              -->


            {% if event.currentPlace == "past_activity" and date(event.eventDate)>date('- 30 days') %}

                <div class="cardpast">
                    <!-- Card's Picture -->
                    <div class="card-image">
                        <img  class="authorimg" src="{{ asset('uploads/profil_images/' ~ event.author.imageFileName)}}" alt="authorimg">
                    </div>
                    <!-- End of the Picture -->


                    <!-- Card's Body -->
                    <div class="card-body">

                        <!-- Event's Name -->
                        <div class="card-title">
                            <h3>{{ event.name }}</h3>
                        </div>

                        <!-- Event's Description -->
                        <div class="card-excerpt">
                            <p>{{ event.description }}</p>
                            <p></p>
                        </div>
                        <!-- Author & Event's Date -->
                        <div class="card-date">
                            Organisée par : {{ event.author.firstName }} {{ event.author.lastName }} <br>

                            Le {{ event.eventDate|date('d-m-Y') }}
                            A {{ event.eventDate|date('H') }} H {{ event.eventDate|date('i') }}
                        </div>



                        <!-- Registration Limit Date -->
                        <div class="card-limit-date">
                            Date limite d'inscription : {{ event.subscriptionLimitDate|date('d-m-Y') }}
                        </div>

                        <!-- Registered Participants / Max Participants -->
                        <div class="card-participants">
                            Nombre de participants : {{ event.registeredParticipants.count }}
                            / {{ event.maxParticipants }}
                        </div>

                        <!-- Possible actions for this event -->
                        <div class="card-actions">
                            <a href="{{ path('details_event', {'id': event.id }) }}"
                               class="style_bouton">Détails</a>
                        </div>
                        <div class="eventendcomment">Cet evènement est terminé</div>
                    </div>
                    <!-- End of the card's body -->
                </div>

            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
