{% extends "layout.html.twig" %}


{% block main %}

<!--------------------------------------------------- Filter form -------------------------------------------->

    <form class="filterform" action="{{ path('get_event') }}" method="get">
        <div class="formpart1">
            <!-- This part allow the user to select the campus -->
            <select name="campus" id="selectcampus">
                <option value="">Campus</option>
                {% for campus in allCampus %}
                    <option value="{{ campus.id }}">{{ campus.name }}</option>
                {% endfor %}
            </select>

            <!-- This part allow the user to select events on keywords -->
            <input type="text" class="forminput" name="keyword" placeholder="Recherchez par mot-clef">


            <!-- This part allow the user to select events on date -->
            <input type="date" name="startdate" value="{{ 'now'|date('Y-m-d') }}">
            <input type="date" name="enddate" value="null">
        </div>

        <div class="formcheckbox">
            <div class="checkboxdiv">
                <label for="usercheckbox">Evènements que j'organise</label>
                <input type="checkbox" id="usercheckbox" name="usercheckbox">
            </div>


            <div class="checkboxdiv">
                <label for="registeredevents">Evènements auxquels je participe</label>
                <input type="checkbox" id="registeredevents" name="registeredevents">
            </div>

            <div class="checkboxdiv">
                <label for="passed">Sorties passées</label>
                <input type="checkbox" id="passed" name="passed">
            </div>

            <div class="checkboxdiv">
                <label for="nonregisteredevents">Evènements auxquels je participe pas</label>
                <input type="checkbox" id="nonregisteredevents" name="nonregisteredevents">
            </div>


        </div>

        <input type="submit" value="Envoyer">
    </form>

<!------------------------------------------------------- Cards ----------------------------------------------------->


    <div class="card-container">
        {% for event in allEvents %}
            <div class="card">
                <!-- Image -->
                <div class="card-image">
                    {% if event.author.id == 7 %}
                        <img src="{{ asset('img/magnum.jpg') }}" alt=""/>
                    {% elseif event.author.id == 2 %}
                        <img src="{{ asset('img/manix.jpg') }}" alt=""/>
                    {% else %}
                        <img src="{{ asset('img/card-img.jpg') }}" alt=""/>
                    {% endif %}
                </div>
                <!-- Fin de l'image -->

                <!-- Corp de la carte -->
                <div class="card-body">
                    <!-- Auteur et Date de publication-->
                    <div class="card-date">
                        Organisée par : {{ event.author.firstName }} {{ event.author.lastName }} <br>
                        Date de la sortie : {{ event.eventDate|date('H:i:s d-m-Y') }}
                    </div>
                    <!-- Titre de la sortie -->
                    <div class="card-title">
                        <h3>{{ event.name }}</h3>
                    </div>
                    <!-- Description de la sortie -->
                    <div class="card-excerpt">
                        <p>{{ event.description }}</p>
                        <p></p>
                    </div>
                    <!-- Date limite inscription -->
                    <div class="card-limit-date">
                        Date limite d'inscription : {{ event.subscriptionLimitDate|date('H:i:s d-m-Y') }}
                    </div>
                    <!-- Actions possibles sur cette sortie -->
                    <div class="cart-actions">
                        <a href="{{ path('details_event', {'id': event.id }) }}" class="style_bouton">Détail</a>
                        {# Affiche "S'inscrire" ou "Se désister" #}
                        {% if event.registeredParticipants.contains(app.user) %}
                            <a href="#" class="style_bouton">Se désister</a>
                        {% else %}
                            <a href="#" class="style_bouton">S'inscrire</a>
                        {% endif %}
                        {% if ("now" < event.eventDate) and (event.author.id == app.user.id) %}
                            <a href="#" class="style_bouton">Modifier</a>
                            <a href="#" class="style_bouton">Annuler</a>
                        {% else %}

                        {% endif %}
                    </div>

                </div>
                <!-- Fin du corp de notre carte -->
            </div>
        {% endfor %}
    </div>


{% endblock %}
