{% extends "layout.html.twig" %}


{% block main %}


    <!------------------------------------------------- RESEARCH PART ------------------------------------------------>
    <!-- This part allow the user to select the campus -->
    <form action="{{ path('get_event_by_campus') }}" method="get">
        <select name="campus" class="forminput" id="selectcampus" onchange="this.form.submit();">
            <option value="">Campus</option>
            {% for campus in allCampus %}
                <option value="{{ campus.id }}">{{ campus.name }}</option>
            {% endfor %}
        </select>
    </form>

    <!-- This part allow the user to select events on keywords -->
    <form action="{{ path('get_event_by_keyword') }}" method="get">
        <input type="text" class="forminput" name="keyword" placeholder="Recherchez par mot-clef">
        <input type="submit" value="Envoyer">
    </form>

    <form action ={{ path('get_event_by_date') }} method="get">
    <!-- This part allow the user to select between to dates -->
    Début :<input type="date" class="forminput" name="startdate">
    Fin : <input type="date" class="forminput" name="enddate">
        <input type="submit" value="Envoyer">
    </form>

    <form action="{{ path('get_my_event') }}">
        <input type="checkbox"  value="Voir mes évènements" placeholder="Events">
        <input type="submit" value="Envoyer">

    </form>




    <!------------------------------------------------- DISPLAY PART ------------------------------------------------>


    <div class="card-container">
        {% for event in allEvents %}
            <div class="card">
                <a href="{{ path('details_event', {'id': event.id }) }}">
                    <!-- Image -->
                    <div class="card-image">
                        {% if event.author.id == 7 %}
                            <img src="{{ asset('img/magnum.jpg') }}" alt=""/>
                        {% elseif event.author.id == 1 %}
                            <img src="{{ asset('img/magnum.jpg') }}" alt=""/>
                        {% else %}
                            <img src="{{ asset('img/magnum.jpg') }}" alt=""/>
                        {% endif %}
                    </div>
                    <!-- Fin de l'image -->

                    <!-- Corp de la carte -->
                    <div class="card-body">

                        <!-- Titre de l'article -->
                        <div class="card-title">
                            <h3>{{ event.name }}</h3>
                        </div>
                        <!-- Extrait de l'article -->
                        <div class="card-excerpt">
                            <p>{{ event.description }}</p>
                        </div>
                        <!-- Auteur et Date de publication-->
                        <div class="card-date">
                            Proposé par {{ event.author.firstName }} du campus de {{ event.campus.name }}
                        </div>
                        <div class="card-author">
                            {{ event.creationDate | date('d-m-Y') }}
                        </div>

                    </div>
                    <!-- Fin du corp de notre carte -->
                </a>
            </div>
        {% endfor %}
    </div>





{% endblock %}
